.panel.panel-primary
  .panel-heading.timeline-header.noselect: clearfix
    h3.pull-left.panel-title {{_ 'timeline'}}
    .timeline-filter.pull-right
      select(data-trigger='timeline-trigger-estate-building-filter')
        option(value='all') {{_ 'all'}}
        optgroup(label="{{_ 'portfolio'}}")
          each availablePortfolios
            option(value='{"portfolio_id": "{{_id}}"}')= name
        optgroup(label="{{_ 'building'}}")              
          each availableBuildings
            option(value='{"building_id": "{{_id}}"}')= building_name
  .panel-body.timeline-year-panel.noselect: table.timeline-year-table
    each timelineActions
      tr(data-value=yearValue)
        td.timeline-year= yearValue
        td: table.timeline-quarter-table
          each quarterContent
            tr(data-value=value).timeline-quarter
              td: h4.panel-inner-title {{_ 'quarter_abbreviation'}}#{value}
              // Droppable container contained an object with their quarter and year as data-value
              td(data-role='dropable-container', data-value=quarterValue)
                each tActions
                  // Draggable actions contained their indices in the planned_actions
                  //  within the scenario as data-value
                  .timeline-action-items(data-role='draggable-action', data-value=actionIds).animated.fadeIn
                      | !{logo}
                      span(data-value=length)= length
