.panel-heading: h3.panel-title {{_ 'appraisal'}}
.panel-body
  .row
    // Number of actions
    .col-xs-3.appraisal-sep
      h4.panel-inner-title {{_ 'nb_actions'}}
      p.appraisal-value #{nbActions} {{_ 'actions'}}
    // Total costs
    .col-xs-3.appraisal-sep
      h4.panel-inner-title {{_ 'total_cost'}}
      p.appraisal-value #{totalCost}
    // Global TRI
    .col-xs-6
      h4.panel-inner-title {{_ 'global_tri'}}
      p.appraisal-value #{triGlobal} {{_ 'u_years'}}
  .row
    // Energy saving
    .col-xs-3.appraisal-sep
      h4.panel-inner-title {{_ 'energy_saving'}}
      p.appraisal-value #{energySaving}%
    // Water saving
    .col-xs-3.appraisal-sep
      h4.panel-inner-title {{_ 'water_saving'}}
      p.appraisal-value #{waterSaving}%
    // CO2 saving
    .col-xs-3.appraisal-sep
      h4.panel-inner-title {{_ 'co2_saving'}}
      p.appraisal-value #{co2Saving}%
    // Budget saving
    .col-xs-3
      h4.panel-inner-title {{_ 'budget_saving'}}
      p.appraisal-value #{budgetSaving}%
