template(name='timeline')
  .row
    .col-xs-12
      .col-xs-2: button.btn.btn-lg.btn-success {{_ 'scenario'}} #{scenarioId}
      .col-xs-2: .well.well-sm#actions #{nbActions} {{_ 'actions'}}
      .col-xs-2: .well.well-sm#amount #{amount}
      .col-xs-3: .well.well-sm {{_ 'global_tri'}} : <strong>#{triGlobal}</strong>
      .col-xs-3: .well.well-sm {{_ 'energy_saving'}} : <strong>#{energySaving}</strong>
