template(name='timeline')
  .row
    .col-xs-12
      .col-xs-2: button.btn.btn-success Scénario #{scenarioId}
      .col-xs-2: .well.well-sm#actions #{nbActions} actions
      .col-xs-2: .well.well-sm#amount #{amount}
      .col-xs-2: .well.well-sm TRI Global <strong>#{triGlobal}</strong>
      .col-xs-4: .well.well-sm Economie d'énergie : <strong>#{energySaving}</strong>
