.page.plan: .container
  // Scenario being displayed
  .row: .col-md-12: h1.page-title {{_ 'scenario'}} #{scenarioId}
  .row
    // Timeline
    .col-md-4: .panel.panel-primary
      .panel-heading: h3.panel-title {{_ 'timeline'}}
      .panel-body
        p: strong: TODO Create table
    // Appraisal, charts and available actions
    .col-md-8
      // Appraisal
      .row: .col-md-12: .panel.panel-primary
        .panel-heading: h3.panel-title {{_ 'appraisal'}}
        .panel-body
          .row
            // Number of actions
            .col-xs-3.timeline.appraisal-sep
              h4.panel-inner-title {{_ 'nb_actions'}}
              p.timeline.appraisal-value #{nbActions} {{_ 'actions'}}
            // Total costs
            .col-xs-3.timeline.appraisal-sep
              h4.panel-inner-title {{_ 'total_cost'}}
              p.timeline.appraisal-value #{amount}
            // Global TRI
            .col-xs-3.timeline.appraisal-sep
              h4.panel-inner-title {{_ 'global_tri'}}
              p.timeline.appraisal-value #{triGlobal}
            // Total costs
            .col-xs-3
              h4.panel-inner-title {{_ 'energy_saving'}}
              p.timeline.appraisal-value #{energySaving}
      // The charts
      .row: .col-md-12: .panel.panel-primary: .panel-body
        // The consumption chart
        .row
          // The chart
          .col-md-8
            #consumption.ct-chart.ct-octave
          // The legend as a simple table
          .col-md-4
            small: .table-responsive: table.table.table-condensed: tbody
              each consumptionLegend
                tr
                  td(style=style): .timeline.div.chart-legend(style=round)
                  td(style=style)= name
        // The Planning budget chart
        .row
          // The chart
          .col-md-8
            #planning_budget.ct-chart.ct-octave
          // The legend as a simple table
          .col-md-4
            small: .table-responsive: table.table.table-condensed: tbody
              each planningBudgetLegend
                tr
                  td(style=style): .timeline.chart-legend(style=round)
                  td(style=style)= name
      // Action bucket
      .row: .col-md-12: .panel.panel.panel-primary
        .panel-heading.timeline.action-bucket-heading(data-trigger='timeline-action-bucket-toggle'): clearfix
          h3.panel-title.pull-left {{ _'action_bucket'}}
          .timeline.action-bucket-arrow.pull-right: span.glyphicon.glyphicon-circle-arrow-up
        if isActionBucketDisplayed
          .panel-body
            p: strong TODO Table of available actions
