.page.plan: .container
  .row: .col-md-12: h1.page-title {{_ 'create_scenario'}}
  //General form
  form
    .row
      .col-md-8
        .form-horizontal
          .form-group
            label.col-sm-4.control-label(for="scenario_name") {{_ 'name'}}
            //- .col-sm-8: input.form-control#scenario_name(type="text" placeholder=name_pl value=(sc_data "name"))
            .col-sm-8: input.form-control.scenarioForm#scenario_name(type="text" placeholder="{{_ 'name'}}")
          .form-group
            label.col-sm-4.control-label(for="duration") {{_ 'duration'}}
            .col-sm-8: input.form-control.scenarioForm#duration(type="number" placeholder="{{_ 'In'}} {{_ 'u_years'}}")
          .form-group
            label.col-sm-4.control-label(for="total_expenditure") {{_ 'total_expenditure'}}
            .col-sm-8: input.form-control.scenarioForm#total_expenditure(type="number" placeholder="{{_ 'In'}} {{_ 'u_euro'}}")
          .form-group
            label.col-sm-4.control-label(for="roi_less_than") {{_ 'roi_less_than'}}
            .col-sm-8: input.form-control.scenarioForm#roi_less_than(type="number" placeholder="{{_ 'In'}} {{_ 'u_years'}}")
          .form-group
            label.col-sm-4.control-label(for="logo") {{_ 'logo'}}
            p.scenarioForm.logo &#58880;
      .col-md-4
        img.img-thumbnail(src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" alt="...")
    //- Criterions
    .scenarioForm#scenarioCriterion
      .scenarioForm#scenarioCriterionTitle {{_ "scenario_criterion"}}
      ul.scenarioForm#sortable
        each getCriterion
          li.scenarioForm.criterion
            .row.scenarioForm.row-correct
              .col-sm-1: span.glyphicon.glyphicon-resize-vertical.scenarioForm.handlerIcon(aria-hidden="true")
              .col-sm-5: span.scenarioForm.criterion-text.criterion-label(true_label=label unit=unit type=type desc=desc) {{_ label}}
              .col-sm-5
                .form-inline: .form-group: .input-group
                  if isCheckbox type
                    .row
                      .col-sm-2: input(type="checkbox" value="" checked="{{isChecked input}}")
                      .col-sm-10: .scenarioForm.criterion-text.criterion-desc {{_ desc}}
                  else if isSelectorTechfield type
                    select.scenarioForm#addTechfield.form-control(type="select")
                      option(value="" disabled selected) {{_ "select_techField"}}
                      each getTechnical_compliance_items
                        option(value=value selected="{{isSelected input value}}") {{_ label}}
                  else
                    input.form-control.scenarioForm#criterionAmount(type="number" value="#{input}")
                    .input-group-addon {{_ unit}}
              .col-sm-1: span.scenarioForm.removeCriterion.glyphicon.glyphicon-trash(aria-hidden="true")
        li.scenarioForm#addCriterionLi.criterion
            .col-md-3 {{_ 'add_criterion'}}
            .col-md-9
              select.scenarioForm#addCriterionSelect.form-control.addCriterion
                option(value="" disabled selected) {{_ "select_criterion"}}
                each getCriterion 'toAdd'
                  option(value=label) {{_ label}}
    input.scenarioForm#scenario-submit.btn.btn-primary(type="submit" value="Save & See results")
    //ActionTable
    table.scenarioForm.actionTable
      tr
        th {{_ 'planned_for'}}
        th {{_ 'action_type'}}
        th {{_ 'building'}}
        th €
        th {{_ 'efficiency_in_percent'}}
        th {{_ 'efficiency_in_kWhEF'}}
        th {{_ 'technical_field'}}
        th {{_ 'tri_years'}}
        th {{_ 'actualised_roi'}}
        th {{_ 'comfort_impact'}}
      each displayActions
        tr
          td -
          td {{name}}
          td {{getBuildingName building_id}}
          td {{subventions.residual_cost}}
          td
            each impact_assessment_fluids
              | {{_ opportunity}} : {{per_cent}}
              br
          td
            each impact_assessment_fluids
              | {{_ opportunity}} : {{or_kwhef}}
              br
          td {{_ technical_field}}
          td {{internal_return}}
          td {{actualised_roi}}
          td {{impact_assessment_general.comfort}}
