template(name='user')
  .page.evaluate
    .container
      nav
        .nav-group
          a.js-menu.nav-item(href='#'): span.icon-list-unordered
      ul.list-group(style='width:400px;position:relative;')
        each getAllUsers
          li.list-group-item
            span.update-user(style='width:100%', data-toggle='modal', data-target='#userformmodal') {{profile.firstName}} {{profile.lastName}}
            +quickRemoveButton collection=users _id=this._id beforeRemove=beforeRemove style="position:absolute;right:10px;top:10px;border:none !important;background-color:white;color:red;" class="btn btn-xs btn-danger"
              span.glyphicon.glyphicon-trash
      .content-scrollable
        .wrapper-auth
          button.btn.btn-success.addUserBtn(style='border:none !important;background-color:white;color:green;', data-toggle='modal', data-target='#userformmodal')
            span.glyphicon.glyphicon-plus
          #userformmodal.modal.fade
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×
                  span.sr-only Close
                h4.modal-title= getFormTitle
              .modal-body
                +autoForm schema=userSchema collection=users doc=getUser id="userAutoForm" template="eportfolio-horizontal"
                  fieldset
                    +afQuickField name='emails' template='eportfolio-horizontal'
                    if creation
                      +afQuickField name='services.password.bcrypt'
                    +afQuickField name="profile.picture"
                    +afObjectField name='profile'
                    +afQuickField name='roles' options=roles
                  button.btn.btn-primary(type='submit') Ok
